.todoList-div {
  width: 100%;
  background: #487da3;
  border: 1px solid #707070;
  padding: 1rem;
}

.todoList-title {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.todoList-todos {
  width: 100%;
  height: 470px;
  overflow-y: auto;
  overflow-x: hidden;
}

.todoList-todos::-webkit-scrollbar {
  display: none;
}
